<section class="hero">
    <h2>Donde tus emociones y películas se conectan 🎬</h2>
    <p>Descubre, califica y comparte películas según tu estado de ánimo.</p>
    <button class="btn" routerLink="/movies">Explorar ahora</button>
  </section>
  
  <section class="moods">
    <h3>¿Cómo te sientes hoy?</h3>
    <div class="mood-buttons">
      <button class="mood" data-color="#ff6b81">❤️ Romántico</button>
      <button class="mood" data-color="#00bcd4">💥 Energético</button>
      <button class="mood" data-color="#9b59b6">🌌 Nostálgico</button>
      <button class="mood" data-color="#3498db">💧 Triste</button>
      <button class="mood" data-color="#f1c40f">😊 Feliz</button>
    </div>
  </section>  