<div class="movies-page">
  <h2>🎬 Descubre películas según tu estado de ánimo</h2>

  <div *ngIf="selectedMood" class="recommended-section">
    <h3>Recomendadas para ti ({{ selectedMood }})</h3>
    <div class="movies-grid">
      <div *ngFor="let movie of recommendedMovies" class="movie-card" (click)="openMovie(movie.id)">
        <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
        <h4>{{ movie.title }}</h4>
      </div>
    </div>
  </div>

  <h3 class="general-title">Populares en CineVerse</h3>
  <div class="movies-grid">
    <div *ngFor="let movie of popularMovies" class="movie-card" (click)="openMovie(movie.id)">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
      <h4>{{ movie.title }}</h4>
    </div>
  </div>
</div>