<header class="navbar">
    <h1 class="logo"><a routerLink="/">🎬 CineVerse</a></h1>
    <nav>
      <ul class="nav-links">
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/movies">Películas</a></li>
        <li><a routerLink="/comunidad">Comunidad</a></li>
        <li><a routerLink="/trivia">Trivia</a></li>
        <li><a routerLink="/about">Sobre CineVerse</a></li>
      </ul>
    </nav>
    <button id="darkModeBtn">🌙</button>
  </header>
  
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
  
  <footer>
    <p>© 2025 CineVerse – Proyecto Final de Desarrollo Web</p>
  </footer>  